.section-traditions {
  padding-top: 96px;
}
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 710px;
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title.centered {
  text-align: center;
}
.section-title .accent {
  color: var(--color-brand-dark);
}
.traditions-title {
  margin-bottom: 42px;
}
.traditions-text.limited {
  max-width: 340px;
}
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.tradition-photo {
  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
}
